[submodule "src/_third-party-forked/bootstrap"]
	path = src/_third-party-forked/bootstrap
	url = git@github.com:bcullman/bootstrap.git
[submodule "src/_third-party-forked/jquery-ui-bootstrap"]
	path = src/_third-party-forked/jquery-ui-bootstrap
	url = git@github.com:bcullman/jquery-ui-bootstrap.git
[submodule "src/_third-party-forked/jquery-ui"]
	path = src/_third-party-forked/jquery-ui
	url = git@github.com:bcullman/jquery-ui.git
[submodule "src/_third-party/jquery-ui"]
	path = src/_third-party/jquery-ui
	url = git@github.com:jquery/jquery-ui.git
